<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <configSections>
    <section name="Unity" type="Microsoft.Practice.Unity.Configuration.UnityConfiguration, Microsoft.Practice.Unity.Configuration"/>
  </configSections>

  <Unity>
    <Containers>
      <Container>
        <Types>
          <Type type="InterfacesLibrary.ICalculator, InterfacesLibrary" mapto=""/>
          <Type type="InterfacesLibrary.ICalculatorRepeatLoop, InterfacesLibrary" mapto=""/>
          <Type type="InterfacesLibrary.IInputParserService, InterfacesLibrary" mapto=""/>
          <Type type="InterfacesLibrary.IInputService, InterfacesLibrary" mapto="InputOutputLibrary.ConsoleInputService,InputOutputLibrary"/>
          <Type type="InterfacesLibrary.IOutputService, InterfacesLibrary" mapto="InputOutputLibrary.ConsoleOutputService,InputOutputLibrary"/>
        </Types>
      </Container>
    </Containers>
  </Unity>
</configuration>