<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="Unity" type="Microsoft.Practice.Unity.Configuration.UnityConfiguration, Microsoft.Practice.Unity.Configuration"/>
  </configSections>

  <Unity>
    <Containers>
      <Container>
        <Types>
          <Type type="InterfacesLibrary.ICalculator, InterfacesLibrary" mapto="CalculatorLibrary.Calculator, CalculatorLibrary"/>
          <Type type="InterfacesLibrary.ICalculatorRepeatLoop, InterfacesLibrary" mapto="CalculatorLibrary.CalculatorRepeatLoop, CalculatorLibrary"/>
          <Type type="InterfacesLibrary.IInputParserService, InterfacesLibrary" mapto="CalculatorCommandParsingLibrary.InputParserService, CalculatorCommandParsingLibrary"/>
          <Type type="InterfacesLibrary.IInputService, InterfacesLibrary" mapto="InputOutputLibrary.ConsoleInputService, InputOutputLibrary"/>
          <Type type="InterfacesLibrary.IOutputService, InterfacesLibrary" mapto="InputOutputLibrary.ConsoleOutputService, InputOutputLibrary"/>
        </Types>
      </Container>
    </Containers>
  </Unity>
</configuration>